<p id="notice"><%= notice %></p>

<h1>About</h1>
<h3>What it does:</h3>
<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <ul>1. Add, delete and edit categories</ul>
    <ul>2. Vote as many times as you want</ul>
    <ul>2. Results ordered by votes</ul>

  </tbody>
</table>

<br>

<%= link_to 'Back', topics_path %>
